In [ ]:


# 1 reverse string
original_string = "pwskills"
reversed_string = original_string[::-1]
print(reversed_string)  # Output: "olleh"

sllikswp

In [ ]:

#2 count the no of vowels in  a string

string = "hello world"
vowels = "aeiou"
count = 0
for char in string:
        if char in vowels:
            count += 1
print(count)

3

In [ ]:
# 3 is string palindrome

string = "racecar"
result = string == string[::-1]
print(result)

True

In [ ]:
#4 are the 2 strings anagram of each other '

string1 = "listen"
string2 = "silent"
result = sorted(string1) == sorted(string2)
print(result)

True

In [ ]:
#5 occurences of substring in a given stirng
main_string = "hello world hello hello"
sub_string = "hello"
all_occurrences = [i for i in range(len(main_string)) if main_string.startswith(sub_string, i)]
print(all_occurrences)

[0, 12, 18]

In [ ]:
#6 string compression

string = "aabcccccaaa"
compressed_string = ""
count = 1

# Iterate through the string, starting from the second character
for i in range(1, len(string)):
    # If the current character is the same as the previous one, increment the count
    if string[i] == string[i - 1]:
        count += 1
    else:
        # If the current character is different, append the previous character and its count to the compressed string
        compressed_string += string[i - 1] + str(count)
        count = 1  # Reset the count for the new character

# Append the last character and its count to the compressed string
compressed_string += string[-1] + str(count)

print(compressed_string)

a2b1c5a3

In [ ]:
#7 determine if a string has all the unique characters

string = "abcdefg"
has_unique_chars = len(set(string)) == len(string)
print(has_unique_chars)

True

In [ ]:
#8 convert a string from upper to lower case
string = "Hello World"
uppercase_string = string.upper()
lowercase_string = string.lower()
print(uppercase_string)
print(lowercase_string)

HELLO WORLD
hello world

In [ ]:
# 9 count the no of words in a string


string = "Hello World, this is a test"
num_words = len(string.split())
print(num_words)

6

In [ ]:
#10 concatenate string without using +

str1 = "Hello"
str2 = "World"
concatenated_string = ''.join([str1, str2])

print(concatenated_string)

HelloWorld

In [ ]:
# 11. Remove all occurrences of a specific element from a list
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print(my_list)

[1, 3, 4, 5]

In [ ]:
# 12. Find the second largest number in a given list of integers
my_list = [10, 20, 30, 40, 50]
sorted_list = sorted(set(my_list))
second_largest = sorted_list[-2]
print(second_largest)

40

In [ ]:
# 13. Count occurrences of each element in a list and return a dictionary
my_list = [1, 2, 1, 3, 2, 4, 1]
count_dict = {}
for item in my_list:
    count_dict[item] = count_dict.get(item, 0) + 1
print(count_dict)

{1: 3, 2: 2, 3: 1, 4: 1}

In [ ]:
# 14. Reverse a list in-place without using any built-in reverse functions
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
for i in range(length // 2):
    my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
# 15. Find and remove duplicates from a list while preserving original order
my_list = [1, 2, 3, 2, 4, 3, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 2, 3, 4, 5]

In [ ]:
# 16. Check if a given list is sorted (either in ascending or descending order)
ascending = all(my_list[i] <= my_list[i+1] for i in range(len(my_list)-1))
descending = all(my_list[i] >= my_list[i+1] for i in range(len(my_list)-1))
print(ascending or descending)

False

In [ ]:
# 17. Merge two sorted lists into a single sorted list
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = sorted(list1 + list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 18. Find the intersection of two given lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = list(set(list1) & set(list2))
print(intersection)

[4, 5]

In [ ]:
# 19. Find the union of two lists without duplicates
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
union = list(set(list1) | set(list2))
print(union)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 20. Shuffle a given list randomly without using any built-in shuffle functions (Fisher-Yates shuffle algorithm)
import random

my_list = [1, 2, 3, 4, 5]

# Fisher-Yates shuffle algorithm
for i in range(len(my_list) - 1, 0, -1):
    j = random.randint(0, i)
    my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[4, 3, 5, 2, 1]

In [ ]:
# 21. Find common elements in two tuples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements = tuple(set(tuple1) & set(tuple2))
print(common_elements)

(4, 5)

In [ ]:
# 22. Intersection of two sets entered by user
set1 = set(map(int, input("Enter integers for set 1 separated by commas: ").split(',')))
set2 = set(map(int, input("Enter integers for set 2 separated by commas: ").split(',')))
intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

Enter integers for set 1 separated by commas: 1, 2, 33, 55
Enter integers for set 2 separated by commas: 4,2,33,55
Intersection of the two sets: {33, 2, 55}

In [ ]:
# 23. Concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 24. Print elements present in the first set but not in the second set
set1 = set(input("Enter elements for set 1 separated by spaces: ").split())
set2 = set(input("Enter elements for set 2 separated by spaces: ").split())
result_set = set1 - set2
print("Elements present in the first set but not in the second set:", result_set)

Enter elements for set 1 separated by spaces: hello,study,books,coding
Enter elements for set 2 separated by spaces: hello,dfjas,adffasfg
Elements present in the first set but not in the second set: {'hello,study,books,coding'}

In [ ]:
# 26. Print union of two sets of characters entered by user
set1 = set(input("Enter characters for set 1 separated by spaces: "))
set2 = set(input("Enter characters for set 2 separated by spaces: "))
union_set = set1.union(set2)
print("Union of the two sets:", union_set)

Enter characters for set 1 separated by spaces: a,a,b,b,c,c,
Enter characters for set 2 separated by spaces: d,a,a,b,c,
Union of the two sets: {'d', 'c', ',', 'a', 'b'}

In [ ]:
# 27. Return maximum and minimum values from tuple using tuple unpacking
input_tuple = (10, 5, 20, 15, 30)
max_value, min_value = max(input_tuple), min(input_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 30
Minimum value: 5

In [ ]:
# 28. Print union, intersection, and difference of two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

In [ ]:
# 29. Return count of occurrences of given element in tuple
input_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
count = input_tuple.count(element_to_count)
print("Count of occurrences:", count)

Count of occurrences: 3

In [ ]:
# 30. Print symmetric difference of two sets of strings entered by user
set1 = set(input("Enter strings for set 1 separated by spaces: ").split())
set2 = set(input("Enter strings for set 2 separated by spaces: ").split())
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric difference of the two sets:", symmetric_difference)

Enter strings for set 1 separated by spaces: arjun bow arrow warrior
Enter strings for set 2 separated by spaces: arjun hero villan fight
Symmetric difference of the two sets: {'villan', 'hero', 'bow', 'warrior', 'arrow', 'fight'}

In [ ]:
# 31. Return dictionary with frequencies of unique words in input list
input_list = input("Enter a list of words separated by spaces: ").split()
word_freq_dict = {}
for word in input_list:
    word_freq_dict[word] = word_freq_dict.get(word, 0) + 1
print("Word frequencies:", word_freq_dict)

Enter a list of words separated by spaces: india india india america china
Word frequencies: {'india': 3, 'america': 1, 'china': 1}

In [ ]:
# 32. Merge two dictionaries into a single dictionary
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'd': 4, 'e': 5}
merged_dict = {key: dict1.get(key, 0) + dict2.get(key, 0) for key in set(dict1) | set(dict2)}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'e': 5, 'd': 4, 'c': 3, 'a': 1, 'b': 5}

In [ ]:
# 33. Access value in nested dictionary using list of keys
nested_dict = {'a': {'b': {'c': 1}}}
keys = ['a', 'b', 'c']
value = nested_dict
for key in keys:
    if key in value:
        value = value[key]
    else:
        value = None
        break
print("Value:", value)

Value: 1

In [ ]:
# 34. Return sorted version of dictionary based on values
input_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1]))
print("Sorted dictionary:", sorted_dict)

Sorted dictionary: {'b': 1, 'c': 2, 'a': 3}

In [ ]:
# 35  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the
# inverted dictionary.


dictionary = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted_dict = {}
for key, value in dictionary.items():
    if value not in inverted_dict:
        inverted_dict[value] = [key]
    else:
        inverted_dict[value].append(key)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}